<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form class="form" action="/new" method="post">
      <label for="text">text: </label>
      <input name="text" id="text" type="text" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
