<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page">
      <h1><%= locals.title %></h1>
      <ul>
        <% locals.messages.forEach(function(message){ %>
        <li><%= message.text %></li>
        <% }); %>
      </ul>
      <a href="/new" class="new-message">new message</a>
    </div>
  </body>
</html>
